.dashboard-container {
  background-color: var(--background);
  color: var(--text-main);
  box-shadow: 0 6px 32px 0 var(--gray-200);
  padding: 2.5rem 2rem;
  margin: 2.5rem auto;
  width: 75%;
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.2s;
}
.dashboard-nav {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
}
.dashboard-link {
  border: none;
  border-radius: 1.2rem;
  padding: 0.5rem 2rem;
  font-size: 1.6rem;
  font-weight: 600;
  transition: background 0.18s, color 0.18s, border 0.18s;
  cursor: pointer;
}
.dashboard-link.active,
.dashboard-link:hover {
  background: var(--primary-accent);
  color: var(--text-inverse);
}

.dashboard-section-title {
  font-weight: 600;
}
.dashboard-input {
  padding: 0.4rem 1.2rem;
  border-radius: 0.8rem;
  outline: none;
}

.dashboard-input:focus {
  border-color: var(--primary-accent);
}

.dashboard-textarea {
  padding: 0.4rem 1.2rem;
  border-radius: 0.8rem;
  outline: none;
}

.dashboard-textarea:focus {
  border-color: var(--primary-accent);
}

.dashboard-section ul {
  max-width: 63rem;
  margin: 5rem auto;
}

.dashboard-section ul h1 {
  color: var(--primary-accent);
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.dashboard-section li {
  background-color: var(--gray-200);
  display: grid;
  padding: 2rem;
  margin-bottom: 3rem;
}
.dashboard-section li button {
  margin: 0.4rem 0;
}

.dashboard-section form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 63rem;
  margin: 3rem auto;
  /* padding: 3rem; */

  border: 1px solid var(--gray-300);
  border-radius: 1.2rem;
}

.dashboard-section button.dashboard-link {
  background: var(--secondary);
  color: var(--text-inverse);
  min-width: 70px;
  border: none;
  transition: background 0.18s, color 0.18s, border 0.18s;
}
.dashboard-section button.dashboard-link.cancel {
  background: #eee;
  color: #333;
}
.dashboard-section button.dashboard-link.delete {
  background: #ffeaea;
  color: #c00;
}
.dashboard-section button.dashboard-link:hover,
.dashboard-section a.dashboard-link:hover {
  background-color: var(--primary-accent);
  color: var(--text-inverse);
}

.confirmation-message {
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #4caf50;
  background-color: #dff0d8;
  color: #3c763d;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
  width: 80%;
}

.waiting-approval-message {
  text-align: center;
  margin-top: 2.5rem;
  padding: 1.2rem;
  color: var(--secondary-accent);
}
