.footer {
  background: var(--gray-700);
  color: var(--text-inverse);
  padding: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer-logo {
  font-weight: 700;
  color: var(--primary-accent);
}

.footer-links {
  /* background-color: red; */
}

.footer-links a {
  color: var(--primary-card);
  padding: 0.2rem 0.5rem;
}

.footer-links a:hover,
.footer-links a:focus {
  color: var(--primary-accent);
  background: var(--primary-card);
}

.footer-contact a {
  color: var(--primary-accent);
  text-decoration: underline;
  transition: color 0.18s;
}

.footer-contact a:hover {
  color: var(--secondary-accent);
}

@media (max-width: 760px) {
  .footer {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
}
