.hero {
  /* position: relative; */
  background: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 55rem;
}
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("/public/images/home1.jpg") center/cover no-repeat;
  opacity: 0.15;
  z-index: 0;
}

.hero-title {
  font-size: 5rem;
  font-weight: 600;
  color: var(--text-inverse);
  margin-bottom: 1.3rem;
}
.hero-subtitle {
  font-size: 2.4rem;
  color: var(--text-inverse);
  font-weight: 600;
  margin-bottom: 1.7rem;
}

/* @media (max-width: 700px) {
  .hero {
    min-height: 22rem;
    padding: 2rem 0.5rem 1.2rem 0.5rem;
    border-radius: 0.7rem;
  }
  .hero-content {
    padding: 1.2rem 0.7rem 1.1rem 0.7rem;
    border-radius: 0.7rem;
  }
  .hero-title {
    font-size: 2rem;
    letter-spacing: -1px;
  }
  .hero-subtitle {
    font-size: 1rem;
  }
} */
@media (max-width: 700px) {
  .hero {
    padding: 2rem 0.5rem 1.2rem 0.5rem;
    border-radius: 0.7rem;
  }

  .hero-title {
    font-size: 3rem;
  }

  .hero-subtitle {
    font-size: 1.6rem;
  }
}
